/* temp styles while working out donut timer styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #343434;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-container {
  text-align: center;
  margin-bottom: 20px;

}

p, h1 {
  color: #fff;  
}
